@mixin break-sm {
    @media (min-width: 37.5em) {
        @content;
    }
}

@mixin break-md {
    @media (min-width: 48em) {
        @content;
    }
}

@mixin break-lg {
    @media (min-width: 60em) {
        @content;
    }
}

@mixin break-xl {
    @media (min-width: 75em) {
        @content;
    }
}

@mixin grid_5 {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 2rem;
}

@mixin grid_7 {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 2rem;
}

@mixin grid_12 {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2rem;
}

@mixin mob_grid_2{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
}

@mixin mob_grid_3{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}