.has-zetkin-pin-out {
    font-family: var(--ztk--font-family--secondary);
    font-weight: 400;
}

.has-z-red-500-zetkin-pin-out {
    color: var(--ztk--color--red-500);
}

.has-z-light-green-500-zetkin-pin-out {
    color: var(--ztk--color--light-green-500);
}

.has-z-dark-green-500-zetkin-pin-out {
    color: var(--ztk--color--dark-green-500);
}

.has-z-purple-500-zetkin-pin-out {
    color: var(--ztk--color--purple-500);
}