.has-zetkin-pin-out {
    font-family: var(--ztk--font-family--secondary);
    font-weight: 400;
}

.has-black-zetkin-pin-out {
    color: var(--ztk--color--black);
}

.has-white-zetkin-pin-out {
    color: var(--ztk--color--white);
}

.has-red-500-zetkin-pin-out {
    color: var(--ztk--color--red-500);
}

.has-light-green-500-zetkin-pin-out {
    color: var(--ztk--color--light-green-500);
}

.has-dark-green-500-zetkin-pin-out {
    color: var(--ztk--color--dark-green-500);
}

.has-purple-500-zetkin-pin-out {
    color: var(--ztk--color--purple-500);
}
